# Discord Bot Token
# Get it from (https://discord.com/developers/applications)
TOKEN=

# Discord Ids of bot's developers
# Value must be an array
DEVELOPERS=[""]

# Discord bot's prefix
PREFIX=!

# Send error message on console to sentry.io
# Get it from (https://sentry.io)
DSN=

# Lavalink Server
HOST=
PASSWORD=

# Spotify Client ID & Secret
clientID=
clientSecret=

# WebClient Port
PORT=5572

# TOP_GG Poster
TOP_GG=