<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#2acdff">
		<meta content="img/logo.png" name="og:image"/>
		<meta property="og:site_name" content="Amelia Corp.">
		<meta property="og:type" content="website">
		<meta content="Join us and make happiness with many people." name="description">
		<meta content="RaRNime, rarnime, anime, anime indo, anime sub indo, download anime" name="keywords">
		<meta content="Amelia Inc." name="copyright">

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&amp;subset=devanagari,latin-ext" rel="stylesheet">
        
        <title>Amelia Corp.</title>

		<link rel="shortcut icon" type="image/icon" href="img/logo.png"/>

        <link rel="stylesheet" href="css/font-awesome.min.css">

		<link rel="stylesheet" href="css/flaticon.css">

        <link rel="stylesheet" href="css/animate.css">

        <link rel="stylesheet" href="css/owl.carousel.min.css">
		<link rel="stylesheet" href="css/owl.theme.default.min.css">
		
        <link rel="stylesheet" href="css/bootstrap.min.css">
		
		<link rel="stylesheet" href="css/bootsnav.css" >	
        
        <link rel="stylesheet" href="css/style.css">
        
        <link rel="stylesheet" href="css/responsive.css">

        <script src="https://kit.fontawesome.com/51e1bf94ba.js" crossorigin="anonymous"></script>
        
    </head>
	
	<body>
		<header class="top-area">
			<div class="header-area">
				<nav class="navbar navbar-default bootsnav navbar-fixed dark no-background">
					<div class="container">

						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
								<i class="fa fa-bars"></i>
							</button>
							<a class="navbar-brand" href="/">Amelia Corp.</a>
						</div>
						<div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
							<ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
							<li class=" smooth-menu active"></li>
								<li class=" smooth-menu"><a href="/">Home</a></li>
								<li class="smooth-menu"><a href="/bot">Invite Them</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>

			<div class="clearfix"></div>

		</header>

		<section id="welcome-hero" class="welcome-hero">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="header-text">
							<a href="/nao">Nao</a>
                            <br>
                            <br>
                            <a href="/nao-tomori">Nao Tomori</a>
                            <br>
                            <br>
                            <a href="/narberal">Nāberaru Gamma</a>
						</div>
					</div
				</div>
			</div>

		</section>

		<footer id="footer-copyright" class="footer-copyright">
			<div class="container">
				<div class="hm-footer-copyright text-center">
					<p>
						&copy; copyright Amelia Corp. 2020-2021</a>
					</p>
				</div>
			</div>

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" ></i>
				</div>
				
			</div>
			
        </footer>
		

		<script src="js/jquery.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
        <script src="js/bootstrap.min.js"></script>
		
		<script src="js/bootsnav.js"></script>
		
		<script src="js/jquery.sticky.js"></script>
		
		<script src="js/progressbar.js"></script>

		<script src="js/jquery.appear.js"></script>


        <script src="js/owl.carousel.min.js"></script>


		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
		
        <script src="js/custom.js"></script>
        <iframe width="0" height="0" src="https://www.youtuberepeater.com/watch?v=QBirDZXSLxg#gsc.tab=0" frameborder="0" allowfullscreen></iframe>
    </body>
	
</html>